{% extends "main.html" %} 

{% block content %}
<h1>Single Project</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, eos tempore
  pariatur enim excepturi, in sapiente blanditiis at laborum nemo ab suscipit
  minus perferendis maiores neque quae libero. Sunt, cupiditate! Lorem, ipsum
  dolor sit amet consectetur adipisicing elit. Laudantium, officiis pariatur in
  explicabo deleniti officia mollitia hic iusto delectus harum, reprehenderit
  obcaecati, dolore molestiae neque ipsam! Ea labore quos facere?
</p>
{% endblock content %}
