{% extends 'main.html' %}
{% load static %}
{% block content %}
  <body>
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/icon.svg' %}" alt="icon" />
          </a>
          <h3>Password Reset Complete</h3>
          <br>
          <p>Your password has been set. You may go ahead and log in now.</p>
          <a class="btn btn--sub btn--lg" href="{% url 'login' %}">Login</a>
        </div>
      
      </div>
    </div>
  </body>
  {% endblock %}