{% extends 'main.html' %}
{% load static %}
{% block content %}
  <body>
    <div class="auth">
      <div class="card">
        <div class="auth__header text-center">
          <a href="/">
            <img src="{% static 'images/icon.svg' %}" alt="icon" />
          </a>
          <h3>Forget Password?</h3>
          <p>Reset password by entering the email address</p>
        </div>

        <form action="#" class="form auth__form" method="POST">
          {% csrf_token %}
          <!-- Input:Email -->
          <div class="form__field">
            <label for="formInput#email">Email Address: </label>
            <input
              class="input input--email"
              id="formInput#email"
              type="email"
              name="email"
              placeholder="e.g. user@domain.com"
            />
          </div>

          <div class="auth__actions">
            <input class="btn btn--sub btn--lg" type="submit" value="Submit" />
            <a href="{% url 'login' %}">Login</a>
          </div>
        </form>
        <div class="auth__alternative">
          <p>Don't have an Account?</p>
          <a href="{% url 'register' %}">Sign Up</a>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}